@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #fafafa;
  color: #443850;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

header {
  width: 100%;
  padding: 0 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #443850;
  height: 65px;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.3);
}

header h1.app-title {
  font-size: 24px;
}

nav#drawer {
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  padding: 10px 20px;
  background-color: #443850;
  position: absolute;
  width: 100vw;
  z-index: 99;
}

nav#drawer a {
  display: inline-block;
  width: 100%;
  color: #fafafa;
  padding: 15px 20px;
  text-decoration: none;
}

nav#drawer .nav-list {
  text-align: center;
  display: block;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #fafafa;
}

#drawer.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

button[name='drawer'] {
  background-color: #fafafa;
  position: relative;
  z-index: 99;
  height: 44px;
  width: 44px;
  border: none;
  color: #443850;
  border-radius: 22px;
  font-size: 20px;
}

.hero {
  position: relative;
  height: 250px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.3)),
    to(rgba(0, 0, 0, 0.7))
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
  );
  top: 0;
  z-index: 2;
}

.hero .explore-text {
  display: block;
  position: absolute;
  z-index: 3;
  right: 10px;
  bottom: 10px;
  margin: auto auto;
  display: inline;
  color: #fafafa;
}

.hero img {
  width: 100%;
}

#main {
  margin-top: 20px;
}

.sub-heading {
  text-align: center;
  color: #443850;
  margin: 40px 0 20px 0;
}

.sub-heading h2.explore-title {
  font-size: 25px;
}

.sub-heading p {
  font-size: 14px;
}

.restaurant-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

.card {
  color: #443850;
  background-color: #fafafa;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card:hover .card-img img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-img {
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.card-img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 300px;
}

.card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 20px;
}

.card-heading button {
  color: #443850;
  background-color: #fafafa;
  font-size: 1.7em;
  text-align: center;
  border-radius: 22px;
  border: none;
}

.card-subheading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.card-body {
  position: relative;
  padding: 20px;
  height: 280px;
  overflow: hidden;
}

.card-body .blank {
  position: absolute;
  bottom: 0;
  height: 40px;
  background-color: #fafafa;
  width: 100%;
}

.card-button a {
  cursor: pointer;
  display: block;
  width: 95%;
  margin: auto;
  text-align: center;
  text-decoration: none;
  background-color: #443850;
  color: #fafafa;
  padding: 17px 0;
  border-radius: 20px;
}

.card-button a:hover {
  background-color: #fafafa;
  color: #443850;
}

.restaurant {
  padding: 0 20px 20px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.restaurant-img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}

.restaurant-img img {
  height: 100%;
}

.restaurant-detail__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #443850;
  padding: 20px;
  background-color: #fafafa;
  color: #443850;
  border-radius: 20px;
  border: 2px solid #443850;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.restaurant-detail__heading h3 {
  font-size: 1.5em;
}

.restaurant-detail__heading p {
  font-size: 1.5em;
}

.restaurant-detail__heading:hover {
  color: #fafafa;
  background-color: #443850;
}

.restaurant-detail__categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #fafafa;
  grid-gap: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.restaurant-detail__categories p {
  display: inline-block;
  background-color: #fafafa;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #443850;
}

.restaurant-detail__description {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
  border: 2px solid #443850;
  margin-bottom: 10px;
}

.restaurant-detail__location {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
  border: 2px solid #443850;
  margin-bottom: 10px;
}

.cta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.cta a {
  border-radius: 15px;
  width: 100%;
  text-align: center;
  background-color: #443850;
  padding: 15px;
  color: #fafafa;
  text-decoration: none;
  display: inline-block;
}

footer {
  margin-top: 20px;
  background-color: #443850;
  color: #fafafa;
  text-align: center;
  height: 100px;
  line-height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media (min-width: 768px) {
  .restaurant-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
  .restaurant {
    padding-left: 0 60px 60px 60px;
    grid-gap: 20px;
    width: 80vw;
    margin: auto;
  }
  .restaurant-img {
    width: 100%;
    height: 100%;
  }
  .restaurant-img img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  header {
    display: block;
    line-height: 65px;
  }
  button[name='drawer'] {
    display: none;
  }
  h1.app-title {
    text-align: center;
  }
  nav#drawer {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  nav#drawer a {
    display: inline;
  }
  nav#drawer ul {
    text-align: center;
  }
  nav#drawer .nav-list {
    display: inline;
    text-align: center;
    margin-right: 30px;
    position: relative;
    border-bottom: none;
  }
  nav#drawer .nav-list:hover::after {
    content: '';
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    width: 50%;
    height: 2px;
    background-color: #fafafa;
  }
  .hero {
    height: 400px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .hero .explore-text {
    bottom: 30px;
    right: 30px;
    font-size: 1.5em;
  }
  .hero img {
    position: absolute;
    top: -30%;
  }
  .sub-heading {
    text-align: center;
    color: #443850;
  }
  .sub-heading h2.explore-title {
    font-size: 31px;
  }
  .sub-heading p {
    font-size: 16px;
  }
  .card {
    width: 100%;
  }
  .restaurant-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .restaurant {
    -ms-grid-columns: 1.5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    padding-left: 0 60px 60px 60px;
    grid-gap: 20px;
  }
  .restaurant-img {
    width: 100%;
    height: 100%;
  }
  .restaurant-img img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db5461;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Preloader */
.preloader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #292f36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.gone {
  opacity: 0;
  transition: 0.4s;
}

.d-none {
  display: none;
}
